/* Universal styling */
* {
    margin: 0;
    padding: 0;
}

/*---------------------------------------
------------ Header objects -----------*/
header {
    justify-content: space-between;
    height: 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;

}

.headText {
    margin: auto;
    width: 82%;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin: auto;
}

.acceptButton {
    width: 80px;
    height: 26px;
    background-color: #ffffff;
    transition-duration: .2s;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    transition: all .6s ease;
}

.declineButton {
    width: 80px;
    height: 26px;
    background-color: #ffffff;
    transition-duration: .2s;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    transition: all .6s ease;
}

.acceptButton:hover {
    color: #ffffff;
    background-color: #0e91e8;
    transition-duration: .2s;
}

.declineButton:hover {
    color: #ffffff;
    background-color: #e73922;
    transition-duration: .2s;
}

/*-----------------------------------------
------------ Nav styling ----------------*/
nav {
    background-color: rgb(27, 29, 24);
    display: flex;
    justify-content: space-between;

}

.logo {
    /* border: 1px solid white; */
    color: #ffffff;
    font-size: 3rem;
    font-family: fantasy;
    margin: auto;
    text-align: left;
}

.navbar {
    margin: auto;
    /* border: 1px solid white; */
}

nav ul {
    /* border: 1px solid rgb(255, 28, 28); */
    list-style: none;
    padding: 0;
}

nav li {
    /* border: 1px solid yellow; */
    display: inline-block;
    padding: 5px 12px;
}

nav a {
    /* border: 1px solid green; */
    color: white;
    font-weight: bold;
    padding: 3px 20px;
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

.right {
    position: relative;
    left: 6rem;
    width: 25%;
    display: flex;
    gap: 19px;
    flex-direction: row;
    margin: auto;
    /* border: 2px solid yellow; */
}

.button1 {
    width: 5em;
    padding: 7px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background: #1a1919;
    border: 2px solid white;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.button1:hover {
    color: #ffffff;
    background-color: #ff0000;
    border: 2px solid white;
}

.button2 {
    width: 10em;
    padding: 8px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background: #1a1919;
    border: 2px solid white;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.button2:hover {
    background-color: #0033ff;
    color: #ffffff;
    border: 2px solid white;
}


/*----------------------------------------
---------- aside styling sidebar -------*/
aside {
    background-color: rgb(198, 176, 146);
    display: flex;
    border: 2px solid rgb(0, 0, 0);
}