* {
    margin: 0;
    padding: 0;
}

header {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(141, 108, 202);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.cookieDescription {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }